<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/products"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Barang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="product">
  <ion-card>
    <!-- perubahan disini -->
    <img [src]="product.imageUrl || prodService.defaultImage" alt="{{ product.name }}"
      style="max-height: 220px; width: 100%; object-fit: cover;" />
    <ion-card-header>
      <ion-card-subtitle>{{ product.category }}</ion-card-subtitle>
      <ion-card-title>{{ product.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="full">
        <ion-item>
          <ion-label>Sisa Stok</ion-label>
          <ion-badge slot="end" [color]="product.stock > 0 ? 'success' : 'danger'">
            {{ product.stock }} pcs
          </ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Harga Beli (Modal)</ion-label>
          <ion-note slot="end">Rp {{ product.buyPrice.toLocaleString('id-ID') }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Harga Jual</ion-label>
          <ion-note slot="end" color="primary"><b>Rp {{ product.sellPrice.toLocaleString('id-ID') }}</b></ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Estimasi Keuntungan / pcs</ion-label>
          <ion-note slot="end" color="success">
            <b>Rp {{ (product.sellPrice - product.buyPrice).toLocaleString('id-ID') }}</b>
          </ion-note>
        </ion-item>
      </ion-list>

      <div class="ion-padding-top">
        <ion-button expand="block" [disabled]="product.stock === 0" (click)="cartService.addToCart(product)">
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          Tambah ke Keranjang
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>