:root {
  --ion-color-primary: #1976D2;
  --ion-color-primary-rgb: 25, 118, 210;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1565C0;
  --ion-color-primary-tint: #1E88E5;

  --ion-color-secondary: #FF9800;
  --ion-color-secondary-rgb: 255, 152, 0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #E68900;
  --ion-color-secondary-tint: #FFA726;

  --ion-background-color: #ffffff;
  --ion-text-color: #222222;
}

/*DARK MODE*/
body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-primary: #64B5F6;
  --ion-color-primary-rgb: 100, 181, 246;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;

  --ion-color-secondary: #FFB74D;
  --ion-color-secondary-rgb: 255, 183, 77;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
}
