<ion-app>
  <!-- Side Drawer Menu -->
  <ion-menu contentId="main-content" auto-hide="true">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Toko Makmur Jaya</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>
        <ion-list-header>Menu Samping</ion-list-header>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/tabs/dashboard" lines="none">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Dashboard Utama</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/transactions" lines="none">
            <ion-icon name="receipt-outline" slot="start"></ion-icon>
            <ion-label>Riwayat Transaksi</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/settings" lines="none">
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            <ion-label>Pengaturan & Tema</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/about" lines="none">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            <ion-label>Tentang SIMOBILE</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Main Container -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>