<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kasir / Keranjang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="cartService.getCart().length === 0" class="ion-text-center ion-padding">
    <ion-icon name="cart-outline" style="font-size: 64px;" color="medium"></ion-icon>
    <p>Keranjang masih kosong.</p>
    <ion-button routerLink="/tabs/products" fill="outline">Pilih Barang</ion-button>
  </div>

  <ion-list *ngIf="cartService.getCart().length > 0">
    <ion-item *ngFor="let item of cartService.getCart()">
      <ion-label>
        <h2><b>{{ item.product.name }}</b></h2>
        <p>Rp {{ item.product.sellPrice.toLocaleString('id-ID') }} x {{ item.qty }}</p>
        <p><b>Subtotal: Rp {{ item.subtotal.toLocaleString('id-ID') }}</b></p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button (click)="cartService.decreaseQty(item.product.id)">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
        <ion-text><b>{{ item.qty }}</b></ion-text>
        <ion-button (click)="cartService.addToCart(item.product)" [disabled]="item.qty >= item.product.stock">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="cartService.getCart().length > 0">
  <ion-toolbar class="ion-padding-horizontal">
    <ion-item lines="none">
      <ion-label>Total Tagihan:</ion-label>
      <ion-text color="primary" slot="end">
        <h3><b>Rp {{ cartService.getTotalPrice().toLocaleString('id-ID') }}</b></h3>
      </ion-text>
    </ion-item>
    <ion-button id="btn-checkout" expand="block" color="success" (click)="confirmCheckout()">
      Konfirmasi Transaksi
    </ion-button>
  </ion-toolbar>
</ion-footer>

<!-- Alert Sukses Transaksi -->
<ion-alert [isOpen]="isTrxSuccess" header="Transaksi Berhasil!" [message]="checkoutMsg" [buttons]="['Cetak / Selesai']"
  (didDismiss)="finishCheckout()">
</ion-alert>